***Lista_Pandas2_LC***

In [2]:
import pandas as pd

***1.*** O arquivo avocado.csv consiste em um dataset que contém dados sobre vendas de abacates (avocado, em inglês) em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

Date - a data da observação

AveragePrice - o preço médio de um único abacate

year - o ano

region - a cidade ou região da observação

Total Volume - volume total de abacates vendidos

Além das informações acima, contidas no arquivo avocado.csv, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.csv. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame. E, em seguida, salve-o em um arquivo csv.

PS. Caso queira criar uma Series com os dados aleatórios para o tipo de abacate, utilize o código abaixo:

In [15]:
df_avocado = pd.read_csv("avocado.csv")
df_type = pd.read_csv("avocado_type.csv")

# Consolidar as duas bases
df_1 = pd.concat([df_avocado, df_type], axis=1, join="inner")
df_1.to_csv('Avocado_completa.csv', index = False)

***2.*** Carregue o arquivo csv que você salvou na questão anterior e, em seguida, obtenha o que é solicitado nos itens elencados abaixo:

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.

(b) A quantidade de registros (linhas) de abacates vendidos para cada região.

(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula.

(d) Uma vez que você já possui uma coluna com a data, remova a coluna que apresenta o ano.

In [53]:
# Carregando arquivo criado
df_2 = pd.read_csv('Avocado_completa.csv')
df_2

# (a) Quantidade por tipo
filtro_conv = df_2['type'] == 'conventional'
qtd_conv = filtro_conv.sum()

filtro_org = df_2['type'] == 'organic'
qtd_org = filtro_org.sum()

# (b) Quantidade vendidos
group = df_2.groupby(['region'])
group.size().reset_index(name='counts')

# (c) Renomear colunas
df_2.rename({'year':'Year','region':'Region','type':'Type'}, axis=1, inplace=True)
df_2

# (d) Remover coluna ano
#pd.cut(df.Age, 4).value_counts()
del df_2['Year']
df_2

             Date  AveragePrice  Total Volume            Region          Type
0      2015-12-27          1.33      64236.62            Albany  conventional
1      2015-12-20          1.35      54876.98            Albany  conventional
2      2015-12-13          0.93     118220.22            Albany  conventional
3      2015-12-06          1.08      78992.15            Albany  conventional
4      2015-11-29          1.28      51039.60            Albany  conventional
...           ...           ...           ...               ...           ...
18244  2018-02-04          1.63      17074.83  WestTexNewMexico       organic
18245  2018-01-28          1.71      13888.04  WestTexNewMexico       organic
18246  2018-01-21          1.87      13766.76  WestTexNewMexico       organic
18247  2018-01-14          1.93      16205.22  WestTexNewMexico       organic
18248  2018-01-07          1.62      17489.58  WestTexNewMexico       organic

[18249 rows x 5 columns]

***3.*** Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.

(b) O preço médio dos abacates vendidos para cada tipo.

In [70]:
# Carregando o arquivo em um dataframe
df_3 = pd.read_csv('Avocado_completa.csv')

# Agrupando dados por tipo de abacate
group_type = df_3.groupby(['type'])

# (a) volume vendido para cada tipo
group_type.sum()[['Total Volume']]

# (b) preço médio cada tipo
group_type.mean()[['AveragePrice']].round(2)

              AveragePrice
type
conventional          1.16
organic               1.65

***4.*** O arquivo googleplaystore.csv é um dataset que contém diversas informações sobre aplicativos disponíveis para download na Google Play Store. Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [102]:
# Carregando base google play store
df_4 = pd.read_csv('googleplaystore.csv')
df_4.head()

# Tem duplicadas?
df_4.duplicated().sum() #Sim, tem duplicadas

# Eliminando duplicadas no proprio DataFrame
df_4.drop_duplicates(inplace=True)

# Tem dados ausentes? 
df_4.isnull().sum() #Sim, tem valores ausentes em 5 colunas

# Preenchendo ausentes coluna Rating com a média
df_4['Rating'].fillna(df_4['Rating'].mean(), inplace = True)

# Os demais NaN estão representam poucas linhas e estão em colunas categoricas (Type,Content Rating, Current Ver,Android Ver)
# Assim, eliminando os demais NaNs
df_4.dropna(subset=['Type','Content Rating', 'Current Ver','Android Ver'], inplace = True)

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

***5.*** O arquivo houses_to_rent.csv consiste em um dataset que contém dados sobre casas para alugar no Brasil. Carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF (você pode utilizar os métodos head, tail e info). Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [112]:
# Carregando base google play store
df_5 = pd.read_csv('houses_to_rent.csv')
df_5.head()
df_5.tail()

df_5.info()

# Tem duplicados?
df_5.duplicated().sum() #Sim, tem 358 duplicados

# Eliminando duplicadas no proprio DataFrame
df_5.drop_duplicates(inplace=True)

# Tem dados ausentes? 
df_5.isna().sum() #Não apresenta dados ausentes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64